<!DOCTYPE html>
<html>
<head>
  <title>Century Link Crimes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<%= yield %>

<%= content_tag 'div', '', id: 'data', data: @data %>
<script src="http://maps.googleapis.com/maps/api/js?&amp;callback=initialize"></script>
</body>
</html>
